 .header-left{
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.store{
    margin-right: 1100px;

}

.content{
    padding: 20px;
    justify-items: center;
}

.text{
    padding: 20px;
    justify-items: center;
    text-align: center;
    width: 50%;

}

.search-bar{
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    width: 600px;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 24px;
    outline: none;
}

